<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.summithillsoftware.ultimate"
    android:versionCode="10200"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens android:requiresSmallestWidthDp="320" />

    <application
        android:name="com.summithillsoftware.ultimate.UltimateApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.summithillsoftware.ultimate.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.team.TeamsActivity"
            android:label="@string/title_activity_teams" >
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.team.TeamActivity"
            android:label="@string/title_activity_team"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.team.TeamsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.team.TeamsActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.player.PlayersActivity_GameAction"
            android:label="@string/title_activity_players"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.player.PlayersActivity_Team"
            android:label="@string/title_activity_players"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.team.TeamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.team.TeamActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.player.PlayerActivity_Team"
            android:label="@string/title_activity_player"
            android:noHistory="true"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.player.PlayersActivity_Team"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.player.PlayersActivity_Team" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.player.PlayerActivity_GameAction"
            android:label="@string/title_activity_player"
            android:noHistory="true"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.player.PlayersActivity_GameAction"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.player.PlayersActivity_GameAction" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.game.GamesActivity"
            android:label="@string/title_activity_games"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.team.TeamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.team.TeamActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.game.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GamesActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GamesActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity"
            android:label="@string/title_activity_game_action"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.game.events.EventsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.game.events.EventsInActionActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.stats.StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.support.SupportActivity"
            android:label="@string/title_activity_support" >
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.twitter.TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.twitter.TwitterActivity_GameAction"
            android:label="@string/title_activity_twitter"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.action.GameActionActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.twitter.TwitterActivity_Game"
            android:label="@string/title_activity_twitter"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.twitter.TwitterActivity_Team"
            android:label="@string/title_activity_twitter"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.team.TeamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.team.TeamActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.wind.WindActivity"
            android:label="@string/title_activity_wind"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.timestamp.TimestampActivity"
            android:label="@string/title_activity_timestamp"
            android:parentActivityName="com.summithillsoftware.ultimate.ui.game.GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.summithillsoftware.ultimate.ui.game.GameActivity" />
        </activity>
        <activity
            android:name="com.summithillsoftware.ultimate.ui.support.DeveloperActivity"
            android:label="@string/title_activity_developer" >
        </activity>
    </application>

</manifest>